/******* CLEAR FIX HACK *******/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******* Box Model Hack *******/

 * {
     box-sizing: border-box;
}

/******* BASE STYLES *******/

body {
    background: #001a33;
    display: flex;
    flex-flow: column;
    font-family: 'interstate', sans-serif; 
}

.menuSection {
    background: #000e1d;
    width: 100%;
    color: white;
}

.jellyReturn {
    display: flex;
}

.jellyCard {
    display: flex;
    flex-flow: column;
    color: white;
}

.jellyInfo1, .jellyInfo2 {
    margin: 0 auto;
    padding: 10px 35px;
    
}

.jellyInfo1 {
    border-top: 1px solid #6fcaff;
    border-bottom: 1px solid#6fcaff;
}

.jellyImg {
    width:100%;
    transition: transform 800ms ease;
    transform:scale(1);
}

.jellyVidContainer, .jellyImgContainer {
    padding: 20px 0;
    background: #000e1d;  
}

.jellyVid {
    width: 100%;
    height: 28vh;
}

h2, h3 {
    font-family: 'playfair display', serif; 
}

h3 {
    font-size: 1.3em;
    color: #6fcaff;
    margin-top: 25px;
}

