/******* CLEAR FIX HACK *******/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******* Box Model Hack *******/

 * {
     box-sizing: border-box;
}

/******* BASE STYLES *******/

body {
    background: #001a33;
    font-family: 'interstate', sans-serif; 
}

.menuSection, footer, .jellyCard {
    color: white;
}

.jellyCard {
    display: none;
    flex-flow: column;
} 

.jellyInfo1, .jellyInfo2 {
    margin: 0 auto;
    padding: 20px 40px 30px 40px;
    
}

.jellyInfo1 {
    border-top: 1px solid #6fcaff;
    border-bottom: 1px solid#6fcaff;
}

.jellyImg, .jellyImg2 {
    width:100%;
}

.jellyVidContainer, .jellyImgContainer {
    display: flex;
}

.jellyVidContainer {
    padding: 20px 0;
}

.jellyVid {
    width: 90%;
    height: 40vh;
    margin: 0 auto;
}


fieldset {
    border: none;
}


/******* Layout *******/

header {
    padding: 10px 20px 20px 20px;
    border-bottom: 1px solid #6fcaff;
    justify-content: center;
    text-align: center;
}

header img {
    width: 200px;
    margin-bottom: -30px;
}

header, .jellyVidContainer, footer {
    background: #000e1d;
}

select {
    background-color: #001a33;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

select, .submit {
    border-radius: 10px;
}

label {
    display: block;
    font-weight: 600;
    font-size: 0.98em;
    margin-bottom: 10px;
}

.submit {
    background-color: #6fcaff;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 1.1em;
    margin: 0 5px;
}

.defaultContent img{
    width: 100%;
}

.defaultContent {
    margin-bottom: -5px;
    padding: 0;
}

footer {
    width: 100%;
}


footer {
    padding: 20px 30px 40px 30px;
    border-top: 1px solid #6fcaff;
}

/******* Text Styling *******/

h1, h2, h3 {
    font-family: 'playfair display', serif; 
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
    margin-top: 25px;
    margin-bottom: 15px;
}

h3, h4, label {
    color: #6fcaff;
}

h4 {
    font-weight: 400;
    font-style: italic;
}

h4 {
    font-size: 1.1em;
}

p {
    margin-top: -5px;
}

p {
    line-height: 1.4;
}

a {
    display: block;
    color: white;
    line-height: 1.6;
}

a, footer p {
    font-size: 0.95em;
}

footer p {
    padding-bottom: 20px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

footer h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.98em;
    margin-bottom: 10px;
}

/************ Laptops & Desktops ************/

@media (min-width:1170px) { 
    header {
        margin-bottom: 50px;
        height: 150px;
        padding: 10px 100px;
    }
    header img {
        width: 160px;
        height: 100%;
        margin-right: -40px;
    }
    .menuSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menuSection p {
        width: 45%;
        padding: 0 1%;
        display: none;
        font-size: 0.9em;
    }
    fieldset {
        margin: 35px 0 0 0;
        width: 30%;
        align-self: flex-end;
    }
    label {
        display: inline;
    }
    h1 {
        display: inline-block;
        margin-top: 40px;
    }
    .jelly {
        padding: 0 100px;
        font-size: 1.1em;
    }
    .jellyCard {
        display: none;
        flex-flow: row wrap;
    }
    .jellyImgContainer, .jellyInfo1, .jellyVidContainer, .jellyInfo2 {
        width: 45%;
        margin: 2%;
    } 
    .jellyImgContainer {
        height: 460px;
        background-size: cover;
        background-position: center;
    }
    .jellyCard, .jellyImgContainer:last-of-type, .jellyImg, .jellyImg2 {
        display: none;
    }
    .jellyVid {
        height: auto;
    }
    .jellyInfo1 {
        height: 45%;
        margin: auto 0;
    }
    .jellyVidContainer {
        background: none;
    }
    footer {
        padding: 50px 120px;
        margin-top: 50px;
        font-size: 1.2em;
    }
    .footer2 {
        display: flex;
    }
    .footer2 div {
        width: 50%;
    }

}

@media (min-width: 1645px) {
    label {
        display: inline-block;
    }
    .menuSection p {
        display: none;
        margin-top: 30px;
    }
}

@media (min-width:1800px) { 
    .jelly {
        padding: 0 250px;
    }
    footer {
        padding: 50px 250px;
    }
}

