/******* CLEAR FIX HACK *******/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******* Box Model Hack *******/

 * {
     box-sizing: border-box;
}

/******* BASE STYLES *******/

body {
    background: #001a33;
    font-family: 'interstate', sans-serif; 
}

.menuSection, footer {
    background: #000e1d;
    width: 100%;
    color: white;
}

.jellyCard {
    display: none;
    flex-flow: column;
    color: white; } 

.jellyInfo1, .jellyInfo2 {
    margin: 0 auto;
    padding: 20px 40px 30px 40px;
    
}

.jellyInfo1 {
    border-top: 1px solid #6fcaff;
    border-bottom: 1px solid#6fcaff;
}

.jellyImg, .jellyImg2 {
    width:100%;
}

.jellyVidContainer, .jellyImgContainer {
    display: flex;
}

.jellyVidContainer {
    background: #000e1d;
    padding: 20px 0;
}

.jellyVid {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
}


fieldset {
    border: none;
}


/******* LAYOUT *******/

footer {
    padding: 20px 30px 40px 30px;
    border-top: 1px solid #6fcaff;
}

/******* TEXT STYLING *******/

h2, h3 {
    font-family: 'playfair display', serif; 
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
    margin-top: 25px;
    margin-bottom: 15px;
}

h3, h4 {
    color: #6fcaff;
}

h4 {
    font-weight: 400;
    font-style: italic;
}

h4 {
    font-size: 1.1em;
}

p {
    margin-top: -5px;
}

p {
    line-height: 1.4;
}

a {
    display: block;
    color: white;
    line-height: 1.6;
}

a, footer p {
    font-size: 0.95em;
}

footer p {
    padding-bottom: 20px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

footer h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.98em;
    margin-bottom: 10px;
}


/************ Tablets ************/

/************ Laptops & Desktops ************/

@media (min-width:1280px) { 
    .jelly {
        padding: 0 100px;
    }
    .jellyCard {
            display: flex;
            flex-flow: row wrap;
         }
    .jellyImgContainer, .jellyInfo1, .jellyVidContainer, .jellyInfo2 {
        width: 45%;
        margin: 2%;
    } 
    .jellyImgContainer {
        width: 45%;
        height: 460px;
        background-size: cover;
        background-position: center;
    }
    .jellyImgContainer:last-of-type {
        display: none;
    }
    .jellyVid {
        height: auto;
    }
    .jellyInfo1 {
        height: 45%;
        margin: auto 0;
    }
    .jellyVidContainer {
        background: none;
    }

    .jellyDesktop2 {
        display: flex;
    }
    .jellyImg, .jellyImg2 {
        display: none;
    }

    footer {
        padding: 50px 120px;
        margin-top: 50px;
    }

    .footer2 {
        display: flex;
    }
    .footer2 div {
        width: 50%;
    }

}
@media (min-width:1800px) { 
    .jelly {
        padding: 0 250px;
    }

    footer {
        padding: 50px 250px;
    }
}

